@model List<ResultBranch2_Dto> 


<div class="col-xl-4 col-md-6 col-lg-4">
    @foreach (var item in Model)
    {
         <div class="footer_widget text-center ">
        <h3 class="footer_title pos_margin">
            @item.Name
        </h3>
        <p>
                @item.City <br>
                @item.Address <br>
            <a href="#">@item.Mail</a>
        </p>
        <a class="number" href="#">@item.PhoneNumber</a>
    </div>
    }
</div>